
#dock_panel{
    position: absolute;
    margin-left: calc((-100vw) + 80px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px 10px 0px 10px;
    z-index: 5;
    animation: hide_dock 3s ease-in-out both;
}

#dock_panel:hover{
    animation: show_dock 3s ease-in-out both;
}

#dock_panel:active{
    animation: show_dock 3s ease-in-out both;
}

@keyframes hide_dock {
    0%{
        margin-left: calc((-100vw) + 80px);
    }
    95%{
        margin-left: calc((-100vw) + 80px);
    }
    
    100%{
        margin-left: calc((-100vw) - 55px); 
    }

}


@keyframes show_dock {
    5%{
        margin-left: calc((-100vw) + 80px);
    }

    100%{
        margin-left: calc((-100vw) + 80px);
    }
}

#dock_panel > ul{
 list-style-type: none;
}

#dock_panel > ul > li{
    height: 35px;
    width: 35px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
}


#dock_panel > ul > li > img{
    height: auto;
    width: inherit;
}


#dock_panel > ul > li > p {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    position: fixed;
    margin-left: 50px;
    background-color: #000000b3;
    color: white;
    padding: 2px 5px; 
    white-space: nowrap;
    font-size: small;
}


#dock_panel > ul > li:hover > p {
    visibility: visible;
    opacity: 1;
}

.selected {
    background-color: #cfcfcf;
    position: relative;
}

.selected::after {
    content: '';
    position: absolute;
    left: -1px;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: #ffe018;
    border-radius: 50%;
}



#dock_panel > ul > li:hover{
    background-color: #cfcfcf;
}


#main_content_holder{
    position: relative;
    z-index: -2;
    background-color: #e2e5ff;
    flex-direction: column;
}

.header_holder{
    width: 100%;
    height: 50px;
    margin-top: 5px;

}

#content{
    overflow-y: auto;
    height: calc(100% - 60px);
    width: 95%;
    z-index: 1;
    padding: 5px;
}


#content::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

#content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}   

