#login_container{
    flex-direction: column;
}

#system_name{
    position: absolute;
    margin-top: 550px;
    font-family: 'Poppins';
    font-weight: 400;
}

#login_dialog{
    padding: 50px 80px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: -3px 3px 11px 0px gray;
    flex-direction: column;
    gap: 20px;
}


#login_main_logo{
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 100%;
}

#input_holder{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 10px;
}
