#listview_container{
    position: relative;
    width: 100%;
    height: auto;
}

#listview_container > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 15px 1%;
    width: 100%;
    height: auto;
    list-style-type: none;

}