.profile_div{
    width: calc(100% - 10px);
    height: auto;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.page_title{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}


.page_title > img{
    width: 40px;
    height: auto;
}


.page_title > p{
    font-weight: 600;
}


.profile {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
    padding: 10px 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}


.profile_div > .profile > .info{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.profile_div > .profile > .profile_pic{
    width: 20vw;
    height: 20vw;
    border: 1px solid #0A2F9D;
    border-radius: 100%;
}

.profile_div > .profile > .profile_pic > img{
    width: auto;
    height: 100%;
}

.section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.group_form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px
}


.group_form > h5{
    font-weight: 600;
}


.family_bg_container{
    width: calc(100% - 10px);
    height: auto;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.profile_table{
    font-size: small;

    border-collapse: collapse;

}


.profile_table > thead > tr > th{
    font-weight: 600;
    border: 1px solid #0A2F9D;
}


.profile_tool{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.edu_bg{
    width: calc(100% - 10px);
    height: auto;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}




.add_edit_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.add_edit_form > div{
    width: 100%;
    display: inherit;
    justify-content: space-between;
}


.auto_overflow_x{
    overflow-x: auto;
}


.add_form > div{
    width: 100%;
    display: inherit;
    justify-content: space-between;
   
}

.cs_elegibilty{
    width: calc(100% - 10px);
    height: auto;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.work_exp{
    width: calc(100% - 10px);
    height: auto;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.vol_work{
    width: calc(100% - 10px);
    height: auto;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.ldpa{
    width: calc(100% - 10px);
    height: auto;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.other_info{
    width: calc(100% - 10px);
    height: auto;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.action_cell{
    width: 100px;
}


.action_cell > div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.action_cell > div > img{
    width: 20px;
}


tr{
    height: 20px;
    max-height: fit-content;
    min-height: 20px;

}


td{
    padding: 5px;
    border: 1px solid #0A2F9D;
    text-align: center;
    font-size: 15px;
    font-family: Poppins;
}