.input_container{
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: start;
    position: relative;
}


.input_container > input{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    font-size: small;
    font-weight: 300;
    font-family: Poppins;
    background-color: transparent;
    position: relative;
}

.input_container > input::placeholder {
    color: transparent;
}

.input_container > input:focus + label,
.input_container:focus-within label,
.input_container > input:not(:placeholder-shown) + label {
    animation: move_up 0.1s ease-in-out both;
}

.input_container > input:not(:focus):placeholder-shown + label {
    animation: move_down 0.1s ease-in-out both;
}


.input_container > label{
    position: absolute;
    font-size: small;
    font-weight: 500;
    margin-left: 10px;
    background-color: #ffffff;
    padding: 0px 2px;
    margin-top: 0px;
    z-index: 1;
    color: gray;
}


.input_container > select{
    width: calc(100%);
    height: calc(100%);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    font-weight: 300;
    font-family: Poppins;
    background-color: transparent;
}


.input_container > select > option{
    font-size: small;
}

.input_container > select:focus + label,
.input_container:focus-within label,
.input_container > select:not(:placeholder-shown) + label {
    animation: move_up 0.1s ease-in-out both;
}

.input_container > select:not(:focus):placeholder-shown + label {
    animation: move_down 0.1s ease-in-out both;
}


@keyframes move_up {
    0%{
        margin-top: 0px;
    }

    100%{
        margin-top: -40px;
        color: black;
    }
}


@keyframes move_down {
    0%{
        margin-top: 0px;
    }    

    100%{
        margin-top: 0px;
    }
    
}



