.textfield_div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.textfield_div p.label{
    font-size: small;
    font-weight: 500;
}

.textfield_div input.textfield{
    padding: 5px;
    border: 1px solid #2054ff;
    outline: none;
    border-radius: 5px;
    font-size: small;
}